

.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 20px;
}

.grid__item {
  position: relative;
}

.item__contentt {
  position: relative;
  padding: 1rem;
  background-color:  #5a5b62;
  border: 2px solid #5a5b62;
  color: #fff;
  transition: transform 0.2s;
  transform: translate(calc(var(--expand, 0) * -4%), calc(var(--expand, 0) * -4%));
}

.item:hover {
  --expand: 1;
}

.item:before,
.item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  background-color: hsl(219, 12%, 54%);
  z-index: -1;
}

.item:before {
  transform: translate(calc(var(--expand, 0) * -2%), calc(var(--expand, 0) * -2%));
}

.item:after {
  transition: transform 0.2s;
  transform: translate(calc(var(--expand, 0) * -2%), calc(var(--expand, 0) * -2%));
}

a {
  color: #C7EDEF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.font-bold {
  font-weight: bold;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.flex-grow {
  flex-grow: 1;
}
